@import url(https://fonts.googleapis.com/css2?family=Space+Mono&display=swap);

:root {
  background-color: #2f3640;
  color: var(--text-color);
  font-family: 'Space Mono', sans-serif;


  --background-color: #2f3640;
  --text-color: #f5f6fa;
  --text-secondary-color: black;

  /* --primary-color: rgba(63,61,86,1);
  --primary-color-hover: rgba(63,61,86,0.8);
  --secondary-color: rgba(195, 148, 78, 1);
  --secondary-color-hover: rgba(195, 148, 78, 0.8); */
  --background-color-hover: #C6BCBC;
  --alt-background: #006600;
  --link-color: #37fafa;
}

body {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

/* *, *::before, *::after{
  box-sizing: border-box;
} */