.blog-posts{ /* Blog post listing style */
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px 0px;
    grid-template-columns: 1fr 1fr;
    
  }
  
  .blog-posts > p{ /* Blog post text style */
    color: var(--text-color);
  }
  
  
@media screen and (min-width: 400px) { /* Images associated with blogs */
  .blogimg{
    margin-bottom: 25px;
    width: 20%;
    box-shadow: 0 0.35rem 2rem #00000080; /* Border drop shadow */
   }
}