.navBar li a{ /* All nav buttons forced */
  text-decoration: none;
  color: var(--text-color);
}

.Title { /* Main heading text */
  font-size: 30px;
  font-weight: bold;
  display: flex;
}

.navBar { /* Default nav styles */
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
}

.navLinks {
  margin-left: auto;
}

.navLinks li{
  display: inline;
  cursor: pointer;
  margin-right: 2em;
}

.active{
  border-left: 2.5px solid var(--text-color);
  padding-left: 1em;
  padding-bottom: .1em;
}

.inactive{
  padding-right: 1em;
}
